* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

.about-us {
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
  margin-top: 100px; 
  font-family: Arial, sans-serif;
}

.welcome-section {
  background-color: #f0f0f0f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  margin-top: 90px;
  margin-left: 10px;
  max-width: 98.6%;
}

.welcome-text {
  flex: 1; 
  padding: 20px;
  text-align: justify;
}

.welcome-image {
  flex: 0.5; 
}

.welcome-image img {
  max-width: 95%; 
  height: auto;
  margin-left: 77.4px;
  animation: fadeIn 2.5s; 
}

.welcome-section .title {
  font-size: 3em;
  margin-bottom: 10px;
  color: purple;
  text-align: left;
}

.welcome-section .description {
  line-height: 1.6;
  color: black;
  margin-top: 20px;
  text-align: justify; 
  font-size: large;
}

.vision-mission {
  display: flex;
  max-width: 99.2%;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 0px;
}

.vision, .mission {
  margin-left: 9.8px;
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  margin-right: 12px; 
  background: url('../../assets/bg.jpg') no-repeat center center;
  background-size: cover;
}

.mission {
  margin-left: 17px;
  margin-right: -1.4px;
}

.vision::before, .mission::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95); 
}

.vision h2, .mission h2 {
  font-size: 2rem;
  margin-bottom: 11px;
  color: purple;
  position: relative; 
  z-index: 1;
  margin-left: 12px;
}

.vision p, .mission p {
  line-height: 1.6;
  margin-left: 12px;
  font-size: large;
  color: black;
  font-weight: 600;
  position: relative; 
  z-index: 1;
}

.quality-policy {
  background-color: #f0f0f0f2;
  padding: 20px;
  border-radius: 8px;
  max-width: 98.6%;
  margin-left: 9.5px;
  margin-bottom: -8px;
}

.quality-policy h2 {
  font-size: 2.4rem;
  margin-bottom: 20px;
  color: purple;
  margin-left: 12px;
}

.quality-policy ul {
  list-style: none;
  padding: 0;
}

.quality-policy li {
  position: relative;
  padding-left: 40px; 
  line-height: 2;
  color: #414141;
  margin-bottom: 10px;
  margin-left: 12px;
}

.quality-policy li::before {
  content: url('../../assets/petsfoot.png');
  position: absolute;
  left: 0;
  top: 0px;
  width: 30px; 
  height: 30px; 
}

.dogcat-hover-container {
  display: flex;
  justify-content: center; 
  margin-top: -48px;
  margin-bottom: -54px; 
}

.dogcat-hover-container img {
  max-width: 700px; 
  height: auto;
}
